.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2vw;
}

.artPage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2vw;
  color: #FFFFFF;
  background: #060606;
}

.left {
  display: flex;
  align-items: center;
  flex: .25;
  padding-left: 2vw;
}

.left svg {
  width: 5%;
  height: auto;
}

.name {
  font-size: 1.2vw;
  padding-left: .2vw;
  line-height: 1;
}

.name:hover {
  cursor: pointer;
}

.right {
  flex: .25;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  padding-right: .5vw;
}

.nav a {
  font-size: 1vw;
  color: #757575;
  text-decoration: none;
  margin: .5vw;
}

.artPageNav {
  display: flex;
  justify-content: space-evenly;
  padding-right: .5vw;
}

.nav a:hover {
  color: #EC5A5A;
  text-decoration: underline;
  cursor: pointer;
}

.active {
  color: #2A2A2A !important;
}

.artActive {
  color: #FFFFFF !important;
}

