.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1vw;
}

.left {
  flex: .25;
}

.name {
  font-weight: normal;
  padding-left: 1.5rem;
}

.right {
  flex: .25;
}

.nav {
  display: flex;
  justify-content: space-evenly;
}

.nav a {
  color: #757575;
  text-decoration: none;
  padding: .5rem;
}

.nav a:hover {
  color: #EC5A5A;
}

.active {
  color: #2A2A2A !important
}

