.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1vw;
  height: 6vh;
}

.left {
  display: flex;
  align-items: center;
  flex: .25;
  padding-left: 1rem;
}

.left svg {
  margin: .5rem;
  width: 5%;
  height: auto;
}

.right {
  flex: .25;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  padding-right: .5vw
}

.nav a {
  font-size: 1.1vw;
  color: #757575;
  text-decoration: none;
  margin: .5vw;
}

.nav a:hover {
  color: #D37C2E;
  text-decoration: underline;
  cursor: pointer;
}

.active {
  color: #2A2A2A !important
}

.copyright {
  float: right;
  padding-right: 3vw;
  font-size: 1vw;
  font-weight: 300;
  color: #757575;
}