.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 15rem;
  margin: auto;
}

.header {
  margin: auto;
  text-align: center;
  padding: 10rem 0 12rem 0;
}

.header span {
  font-size: 4rem;
  text-align: center;
  letter-spacing: -2px;
  line-height: 1.2;
}

.opening1 {
  color: #2A2A2A;
}

.opening2 {
  color: #757575;
}

.heading {
  font-size: 1rem;
  color: #757575;
}

.caseStudies {
  padding: 0 7.5rem;
}

.caseStudiesContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.caseStudiesBox {
  width: 23.8rem;
  height: 25.8rem;
  border-radius: 12px;
  padding: 1.2rem 1.2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.caseStudiesBox p {
  margin: 0;
}

.category {
  color: #757575;
  font-size: .8rem;
}

.title {
  font-size: 1.2rem;
}

.sideProjects {
  padding: 0 7.5rem;
}