.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 13rem;
  margin: auto;
}

.header {
  margin: auto;
  padding: 10rem 0 12rem 0;
}

.header p {
  text-align: left;
  line-height: 1.2;
}

.opening1 {
  font-size: 3rem;
  color: #2A2A2A;
}

.opening2 {
  font-size: 2rem;
  color: #757575;
}

.heading {
  font-size: 1rem;
  color: #757575;
}

.category {
  color: #757575;
  font-size: 1rem;
  padding-left: 1.5rem;
}

.title {
  margin: 0;
  font-size: 1.4rem;
  padding: 0 1.5rem 1.5rem 1.5rem;
}

.caseStudiesContainer {
  margin-bottom: 5rem; 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(24.8rem, 1fr));
  grid-gap: 1.5rem;
}

.caseStudiesBox {
  height: 29.8rem;
  padding-top: 1.5rem;
  border-radius: 12px;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.caseStudiesBox p {
  padding-right: 10rem;
  margin: 0;
}

.caseStudiesBox:hover {
  cursor: pointer;
}

.researchContainer {
  margin-bottom: 5rem; 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(24.8rem, 1fr)); 
  grid-gap: 1.5rem;
}

.researchRight {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.researchBox {
  height: 29.8rem;
  border-radius: 12px;
  padding-top: 1rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
}

.researchBox p {
  padding-right: 8rem;
  margin: 0;
}

.researchRight .researchBox {
  height: 13.8rem;
  margin-bottom: 1rem;
}

.researchRight .researchBox p  {
  padding-right: 0;
}

.researchBox:hover {
  cursor: pointer;
}

.projects {
  margin-bottom: 6rem;
}

.project {
  background: #F7F7F7;
  border-radius: 8px;
  padding: 1.2rem 1.5rem;
  margin-bottom: 2rem;
}

.projHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #2A2A2A;
}

.projTitle {
  margin: 0;
  font-size: 1.4rem;
}

.left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left svg {
  width: 2rem;
  margin-right: .8rem;
  margin-top: .3rem;
  height: auto;
}

.desc {
  padding-left: 2.8rem;
  margin: .2rem 0 0 0;
  color: rgb(42, 42, 42, 0.5);
  font-size: 1.25rem;
  font-weight: 300;
}

.arrow {
  display: none;
}

.controller1Hover, .controller2Hover {
  display: none;
}

.project:hover {
  cursor: pointer;
  background: #2A2A2A;
}

.project:hover .title {
  color: #FBFBFB;
}

.project:hover p {
  color: rgba(251, 251, 251, 0.5)
}

.project:hover .arrow {
  display: inline;
}

.project:hover .controller1, .project:hover .controller2 {
  display: none;
}

.project:hover .controller1Hover, .project:hover .controller2Hover {
  display: inline;
}

.pili {
  width: 100%;
  height: auto;
}

.lab {
  align-self: center;
  width: 80%;
  height: auto;
}

.mind {
  align-self: center;
  width: 85%;
  height: 100%;
}

.social {
  align-self: center;
  width: 85%;
  height: auto;
}

.codesign {
  align-self: center;
  width: 46%;
  height: auto;
  padding-bottom: .5rem;
}

@media (max-width: 768px) {
  .container {
    padding: 0 6rem;
  }

  .opening2 br {
    display: none;
  }

  .caseStudiesContainer, .researchContainer {
    grid-template-columns: repeat(auto-fill, minmax(20.8rem, 1fr));
  }

  .caseStudiesBox, .researchBox {
    height: 32rem;
  }

  .researchRight .researchBox {
    height: 16rem;
  }
}

@media (max-width: 500px) {
  .container {
    padding: 0 2rem;
  }

  .opening1 {
    font-size: 1.8rem;
  }

  .opening2 {
    font-size: 1.2rem;
  }

  .opening2 br {
    display: none;
  }

  .caseStudiesContainer, .researchContainer {
    grid-template-columns: repeat(auto-fill, minmax(12.8rem, 1fr));
  }
  
  .caseStudiesBox {
    margin-bottom: 0;
  }

  .caseStudiesBox, .researchBox {
    height: 18rem;
  }

  .researchRight .researchBox {
    height: 9rem;
  }

  .category {
    font-size: .6rem;
    padding-left: 1rem;
  }

  .title {
    font-size: .8rem;
    padding: 0 1rem 1rem 1rem;
  }

  .caseStudiesBox p, .researchBox p {
    padding-right: 0;
  }

  .projTitle {
    font-size: 1rem;
  }
  
  .desc {
    font-size: .7rem;
  }

}